
<%- include('layouts/header') %>


</style>
<div class="container">
    <div class ="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-success">
                    <div class="text-light">edit user<%= user.name %></div>
                    <div class="card-body p-4">
<form action="/update/<%= user._id %>" method ="post" id ="add-form" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="name">Name</label>
        <input type="text" class="form-control form-control-lg" value="<%= user.name %>" placeholder="name" name="name">
      </div>
      <div class="mb-3">
        <label for="email">email</label>
        <input type="email" class="form-control form-control-lg" value="<%= user.email %>" placeholder="email" name="email">
      </div>
      <div class="mb-3">
        <label for="phone">phone</label>
        <input type="tel" class="form-control form-control-lg" value="<%= user.phone %>" placeholder="phone" name="phone">
      </div>
      <div class="mb-3">
        <label for="image">image</label>
        <input type="file" class="form-control form-control-lg"  name="image">
        <img src="/uploads/<%= user.image %>" width="100" class="img-thumbnail mt-1" />
      </div>
      <input type="hidden" name="old_image" value="<%= user.image %>"/>
    
    
    <div class="mb-3 d-grid">
    <input type="submit" class="btn-success btn-lg"  name="submit" value ="update User">Submit</button>
    </div>
  </form>
  </div>
  </div>
  </div>
  </div>
  </div>
<%- include('layouts/footer') %>